body, html {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: Arial, Ubuntu, sans-serif;
}

.message {
    border: 2px solid lightgrey;
    padding: 10px;
    margin: 12px;
    border-radius: 13px;
}

.message-info {
    background-color: skyblue;
    color:darkblue;
}

.message-success {
    background-color:lightgreen ;
    color: green;
}

.message-warning {
    background-color: lightyellow;
    color: darkkhaki;
}

.message-error {
    background-color: pink;
    color: darkred;
}